/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

html, body {
    min-height: 100vh;
}

.btn {
    cursor: pointer;
}

.form-control.ng-dirty.ng-invalid {
    border-color: red;
}