<div class="d-flex flex-column" style="height: 100vh">
    <app-navbar></app-navbar>
    <div class="container-fluid mt-3">
        <router-outlet></router-outlet>
    </div>
    <footer class="mt-auto p-3 text-center">
        <small>Ukázková aplikace byla vypracována společností Microton, s.r.o.</small>
    </footer>
</div>