<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title mr-auto">{{ edit ? task?.name : 'Nový úkol' }}</h4>
            <a [routerLink]="edit ? ['../../'] : ['../']" class="btn btn-primary">Seznam úkolů</a>
        </div>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label>Název</label>
                <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="form-group">
                <label>Popis</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <label>Termín dokončení</label>
                <div class="input-group">
                    <input class="form-control" placeholder="rrrr-mm-dd" formControlName="deadline" ngbDatepicker #d="ngbDatepicker">
                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label>Uživatel</label>
                <select class="form-control" formControlName="user">
                    <option [ngValue]="null">Vyberte uživatele</option>
                    <option *ngFor="let user of users" [ngValue]="user.id">{{ user.name }}</option>
                </select>
            </div>
            <button class="btn btn-primary">{{ edit ? 'Upravit úkol' : 'Vytvořit úkol' }}</button>
        </form>
    </div>
</div>