<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title mr-auto">Úkoly</h4>
            <a [routerLink]="['add', filterParams['user'] ? { user: filterParams['user'] } : {}]" class="btn btn-primary">Přidat nový úkol</a>
        </div>
        <form>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Vyberte uživatele:</label>
                        <select class="form-control" [ngModel]="filterParams['user']" (ngModelChange)="onSelectedUserChanged($event)" name="selectedUser">
                            <option [ngValue]="undefined">Všichni uživatelé</option>
                            <option *ngFor="let user of users" [ngValue]="user.id">{{ user.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ml-auto">
                    <div class="form-check mt-md-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [ngModel]="filterParams['limited_deadline']" (ngModelChange)="onLimitedDeadlineChanged($event)" name="limitedDeadline">
                            Zobrazit úkoly s termínem dokončení do týdne
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <table class="table mt-3 table-responsive">
            <thead>
                <tr>
                    <th (click)="onSetSortField('id')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('id')"></i> ID
                    </th>
                    <th (click)="onSetSortField('name')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('name')"></i> Název úkolu
                    </th>
                    <th (click)="onSetSortField('description')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('description')"></i> Popis úkolu
                    </th>
                    <th (click)="onSetSortField('deadline')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('deadline')"></i> Termín dokončení
                    </th>
                    <th (click)="onSetSortField('user.name')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('user.name')"></i> Osoba
                    </th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks | orderBy: sortField">
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task?.deadline | date: 'dd. MM. y' }}</td>
                    <td>{{ task.user?.name }}</td>
                    <td style="min-width: 110px">
                        <a class="btn btn-primary btn-sm" [routerLink]="['edit', task.id]"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <!-- <div class="d-lg-none mt-1"></div> -->
                        <button class="btn btn-danger btn-sm" (click)="onDeleteTask(task.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>