<div class="card">
    <div class="card-body" *ngIf="user">
        <div class="d-flex">
            <h4 class="card-title mr-auto">{{ edit ? user.name : 'Nový uživatel' }}</h4>
            <a [routerLink]="['/users']" class="btn btn-primary">Seznam uživatelů</a>
        </div>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
            <div class="form-group">
                <label>Jméno a příjmení</label>
                <input type="text" class="form-control" name="name" [ngModel]="user.name" required/>
            </div>
            <button type="submit" class="btn btn-primary">{{ edit ? 'Upravit uživatele' : 'Vytvořit uživatele' }}</button>
        </form>
    </div>
</div>