<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title mr-auto">Uživatelé</h4>
            <a [routerLink]="['add']" class="btn btn-primary ">Přidat nového uživatele</a>
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th (click)="onSetSortField('id')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('id')"></i> ID
                    </th>

                    <th (click)="onSetSortField('name')">
                        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="isSortField('name')"></i> Jméno uživatele
                    </th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | orderBy: sortField">
                    <th>{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td style="min-width: 110px">
                        <a class="btn btn-primary btn-sm text-light" [routerLink]="['edit', user.id]"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                        <a class="btn btn-info btn-sm text-light" [routerLink]="['/tasks', {user: user.id}]"><i class="fa fa-list-alt fa-fw" aria-hidden="true"></i></a>
                        <div class="d-md-none mt-1"></div>
                        <a class="btn btn-info btn-sm text-light" [routerLink]="['/tasks/add', {user: user.id}]"><i class="fa fa-plus-square fa-fw" aria-hidden="true"></i></a>
                        <button class="btn btn-danger btn-sm" (click)="onDeleteUser(user.id)"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>